SHELL=/bin/sh
MAILTO=root

03 5 * * * gitolite git --git-dir=/home/services/gitolite/repositories/Refs.git gc --aggressive
33 * * * *    gitolite git --git-dir=/home/services/gitolite/repositories/Refs.git gc
